**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/*.md
**/node_modules
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Local.json
**/*.log
**/logs
**/.idea
**/*.user
**/*.suo
